<footer class="site-footer">
    <div class="footer-inner bg-white">
        <div class="row">
            <div class="col-sm-6">
                Copyright &copy; 2021 CSE 47 Software Engineering Group 1
            </div>
            <div class="col-sm-6 text-right">
                Developed by
                <a href="https://www.facebook.com/prematal28/">Tamal Mazumder</a>|
                <a href="https://www.facebook.com/rakibul.highfunctioningSociopath">Rakibul Hasan</a>|
                <a href="https://www.facebook.com/yousufahmed.ridoy.5">Yousuf Ahmed Hridoy</a>|
                <a href="https://www.facebook.com/mridul.ahmed.714/">Lutfar Ahmed</a>
            </div>
        </div>
    </div>
</footer>